:root{
    --hi_light: #0084f6;
    --hov_color: #0b8b4f;
    --low_light: #0073e5;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    padding: 5rem 0 0 0;
    margin: 0;
    background-color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    display: grid;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem;
    margin-bottom: 4rem;
}
.app_title h1{
    font-size: 3em;
    margin-bottom: 0.25rem;
}
.app_title .underline{
    width: 150px;
    height: 5px;
    background-color: var(--hi_light);
}

.app_container{
    max-width: 300px;
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    transition: 1s all;
    overflow: hidden;
    display: grid;
    justify-content: center;
    transition: 1s all;
    box-shadow: var(--light_shadow);
}

.review_item{
    margin: 0;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    justify-items: center;
    transition: 0.5s all;
}

.review_img_cont{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.review_img_cont::before{
    content: "";
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    background: var(--hi_light);
    transform: translate(10px,-10px);
}
.review_img_cont img{
    position: absolute;
    z-index: 1;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.svg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 25px;
    background: var(--hi_light);
    top: 10px;
    left: 0;
}
.svg_container svg{
    width: 100%;
    height: auto;
}
.review_text_cont{
    max-width: 600px;
    text-align: center;
    padding: 1rem;
}
.user_name{
    font-size: 2em;
    margin-bottom: 1rem;
}
.profile_link{
    font-size: 3em;
    margin: 0em;
}

.review_text_cont p{
    font-weight: lighter;
    font-size: 1.5em;
    color: #445;
}

.btn{
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0);
    border: 1px solid var(--hi_light);
    border-radius: 0.25rem;
    color: var(--hi_light);
    font-size: 1.5em;
    transition: 0.25s all;
}
.btn:hover{
    cursor: pointer;
    border: 2px solid var(--hov_color);
    color: var(--hov_color);
}

.arrow_btn{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}


@media( min-width: 500px ){
    .app_container{
        max-width: 450px;
    }
}

@media( min-width: 700px ){
    .app_container{
        max-width: 600px;
    }
    .btn{
        margin: 0.5rem 0;
        padding: 1rem;
        background-color: rgba(0,0,0,0);
        border: 1px solid var(--hi_light);
        border-radius: 0.25rem;
        color: var(--hi_light);
        font-size: 1.5em;
        transition: 0.25s all;
    }
    .arrow_btn{
        width: 3rem;
        height: 3rem;
        margin: 2rem;
        padding: 0.25rem 0.5rem;
        font-size: 2rem;
    }
}