:root{
    --hi_light: #04c966;
    --hi_light_white: #54cf92;
    --red_light_white:#d14141;
    --editing: rgb(255, 166, 0);
    --hi_light_bg: rgb(255,200,200);
    --opp_light: rgb(184, 6, 238);
    --hov_color: rgb(12, 102, 67);
    --editing_hov:  rgb(184, 119, 0);
    --low_light: #f6fffb;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
    --font-size_mobile: 1.1em; 
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 110vh;
    padding: 3rem 0 0 0;
    margin: 0;
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    display: grid;    
    justify-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 4rem;
    visibility: hidden;
}
.app_title h1{
    text-align: center;
    font-size: 3em;
    margin: 1rem 0;
    padding: 0;
}
.underline{
    height: 5px;
    width: 150px;
    background-color: var(--hi_light);
}
.app_container{
    position: relative;
    max-width: 800px;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--dull_white);
    box-shadow: var(--dark_shadow);
    transition: 0.1s height;
}

.modal_cont{ 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    visibility: hidden;
}
.add_or_edit{
    color: white;
    background-color: var(--hi_light_white);
}
.warning_message{
    color: white;
    background-color: var(--red_light_white);
}
.delete_message{
    color: white;
    background-color: var(--red_light_white);
}
.modal_cont h4{
    margin: 0;
}


form{
    max-width: 100%;
    margin: 1rem 0;
}
.form_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    visibility: hidden;
}
 
.item_input{
    font-size: 1.5em;
    padding: 1rem;
    border: 1px solid var(--hi_light);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: 0.25s border;
}
.editing_input{
    border: 1px solid var(--editing);
}

.error_input,
.error_input:focus,
.error_input:active{
    border: 2px solid red;
}

.submit_btn{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background-color: var(--hi_light);
    border: 1px solid var(--hi_light);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.25s background-color, 0.25s color;
}
.editing{
    background-color: var(--editing);
    border: 1px solid var(--editing);
}
.submit_btn:hover{
    cursor: pointer;
    background-color: var(--hov_color);
}
.editing:hover{
    cursor: pointer;
    background-color: var(--editing_hov);
}
.grocery_list{
    padding: 0;
    margin-top: 2rem;
}

.grocery_item{
    margin: 0.5rem 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: var(--low_light);
    box-shadow: var(--light_shadow);
}
.grocery_item h4{
    margin: 0;
    text-align: left;
}
.grocery_item button{
    text-align: right;
    padding: 0.5rem;
    margin: 0.25rem;
    background: none;
    border: none;
    font-size: 1.25em;
}
.grocery_item button:hover{
    cursor: pointer;
}

.edit_btn{
    color: var(--editing);
}
.delete_btn{
    color: red;
}
.edit_btn:hover,
.delete_btn:hover{
    transform: scale(1.1);
}

.delete_all_btn{
    margin-top: 1rem;
    color: red;
    background: none;
    border: none;
}
.delete_all_btn:hover{
    cursor: pointer;
    color: var(--red_light_white);
}


@media( max-width: 450px ){
    .app_container{
        padding: 1rem;
    }
    .modal_cont h4{ 
        font-weight: normal;
        font-size: var(--font-size_mobile);
    }
    .form_item{
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: center;
        justify-content: flex-start;
        visibility: hidden;
    }
    .item_input{
        font-size: var(--font-size_mobile);
        padding: 0.5rem;
    }
    .submit_btn{
        font-size: var(--font-size_mobile);
        padding: 0.5rem;
    }
    .grocery_item{
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
    }
  
}
@media( max-width: 300px ){
    .app_container{
        max-width: 260px;
        margin: 0 auto;
    }
    .form_item{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        visibility: hidden;
    }
    .item_input{
        font-size: var(--font-size_mobile);
        width: 100%;
    }
    
}
