:root{
    --hi_light: #ef2424;
    --hi_light_bg: rgb(255,200,200);
    --opp_light: #f44;
    --hov_color: rgb(255,200,0);
    --low_light: #0073e5;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 110vh;
    padding: 5rem 0 0 0;
    margin: 0;
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    visibility: hidden;
}
.app_title h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.75rem;
}
.underline{
    height: 5px;
    width: 150px;
    background-color: var(--hi_light);
}

.app_container{
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
    display: grid;
    justify-content: center;
    transition: 1s all;
}

.tab_list{
    padding: 0rem 1rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
}
.tab_item{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.25s;
}
.tab_item:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--hov_color);
}
.current_tab{
    color: var(--hi_light);
    border-bottom: 2px solid var(--hi_light);
}
.current_tab:hover{
    border-bottom: 2px solid var(--hi_light);
}

.info_cont{
    padding: 1rem;
    text-align: left;
    visibility: hidden;
}
.job_title{
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.info_name{
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: var(--hi_light);
    background-color: var(--hi_light_bg);
}
.job_dates{
    margin: 1rem auto;
    color: rgb(50,50,50);
    font-size: 1.25em;
    font-style: italic;
    font-weight: lighter;
}
.detail_item{
    font-size: 1.2em;
    margin: 1rem auto;
    line-height: 1.25rem;
}


@media( min-width: 750px ){
    .app_container{
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .tab_list{
        width: 200px;
        padding: 0;
        display: grid;
        justify-content: flex-end;
        text-align: right;
    }
    .tab_item:hover{
        border-bottom: none;
        border-left: 2px solid var(--hov_color);
    }
    .current_tab{
        color: var(--hi_light);
        border-bottom: none;
        border-left: 2px solid var(--hi_light);
    }
    .current_tab:hover{
        border-bottom: none;
        border-left: 2px solid var(--hi_light);
    }
    
}
@media( max-width: 500px ){
    .app_container{
        padding: 0;
    }
    .tab_item{
        padding: 0;
    }
    
}
/*Galaxy Fold... */
@media( max-width: 300px ){
    .app_container{
        max-width: 270px;
        padding: 0;
    }
    .tab_item{
        padding: 0;
        margin: 0.5rem;
    }
    .info_cont{
        padding: 1rem 0;
        text-align: left;
    }
    .details_list{
        padding: 0;
    }
    .detail_item{
        padding: 0;
    }
    
}

/* @media( min-width: 900px ){
    .app_container{
        max-width: 800px;
        grid-template-columns: 300px 500px;
        align-items: flex-start;
    }
    .app_title h1{
        text-align: left;
        font-size: 2em;
        margin: 1rem 0;
    }
    
} */