:root{
    --hi_light: #ff9100;
    --text_color: #f1f5f8;
    --link: #f1f5f8;
    --hov_bg: #ff920407;
    --link_hov: var(--hi_light);
    --nav_bar_bg: rgb(30,30,30);
    --nav_bar_bg_2: rgb(20,20,20);
    --body_bg: rgb(50,50,50);
    --low_light: #f6fffb;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1); 
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 110vh;
    padding: 0;
    margin: 0;
    color: var(--text_color);
    background-color: var(--body_bg);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
a{ color: var(--link); }
a:hover{
    cursor: pointer;
    color: var(--link_hov);
}

.nav_bar{
    width: 100%;
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    background: var(--nav_bar_bg);
    box-shadow: var(--light_shadow);
    transition: 0.1s height;
}
.nav_header{
    display: flex;
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.logo_cont{
    width: 75px;
    height: 75px;
}
.logo_cont img{
    width: 100%;
    height: auto;
}

.menu_btn{
    width: 40px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu_btn .btn_bar{
    width: 33px;
    height: 4px;
    margin: 2.5px 0;
    border-radius: 3px;
    background: white;
    transform-origin: center;
    transition: 0.5s all;
}
.close_btn:nth-of-type(1){
    transform: translateY(9px) rotate(-45deg);
}
.close_btn:nth-of-type(2){
    opacity: 0;
    transform: rotate(45deg);
}
.close_btn:nth-of-type(3){
    transform: translateY(-9px) rotate(45deg);
}

.menu_btn:hover{
    cursor: pointer;
}

.links_cont{
    padding: 0;
    height: 0;
    overflow: hidden;
    background: var(--nav_bar_bg_2);
    transition: 0.25s height;
}
.social_links_cont{
    display: none;
}
.link_list{
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: left;
    list-style: none;
}
.page_link a{
    display: block;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.25em;
    text-decoration: none;
}
.page_link a:hover{
    background: var(--hov_bg);
}

@media( min-width: 900px ){
    .content_cont{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav_header{
        width: auto;
    }
    .menu_btn{
        display: none;
    }
    .links_cont{
        height: auto !important;
        order:1;
        background: none;
    }
    .link_list{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
    }
    .page_link a{
        display: inline;
        padding: 0;
        margin: 1rem;
        width: auto;
    }
    .social_links_cont{
        display: flex;
        order: 3;
    }
    .social_link_list{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .social_link{
        font-size: 1.25em;
        margin: 1rem;
    }
}
