:root{
    --hi_light: #ef2424;
    --hi_light_bg: rgb(255,200,200);
    --opp_light: #f44;
    --hov_color: rgb(255,200,0);
    --low_light: #0073e5;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 110vh;
    padding: 3rem 0 0 0;
    margin: 0;
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    visibility: hidden;
}
.app_title h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.75rem;
}
.underline{
    height: 5px;
    width: 150px;
    background-color: var(--hi_light);
}

.app_container{
    margin: auto;
    padding: 1rem;
    max-width: 800px;
} 
.form_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    visibility: hidden;
}
.input_label{
    font-size: 2em;
    margin: 1rem 1rem 1rem 0;
}  
.amount_input{
    max-width: 100px;
    font-size: 1.5em;
    padding: 1rem;
    border: none;
}
.submit_btn{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background-color: var(--hi_light);
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.submit_btn:hover{
    cursor: pointer;
}
.text_item{
    color: rgb(59, 55, 71);
    font-size: 1.5em;
    text-align: justify;
    margin: 3rem auto;
    line-height: 1.5;
    visibility: hidden;
}


@media( min-width: 850px ){
    .app_container{
        min-width: 800px;
    }    
}
