:root{
    --hi_light: rgb(226, 147, 29);
    --hov_color: #be440b;
    --low_light: #e55c00;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    padding: 5rem 0 0 0;
    margin: 0;
    background-color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    visibility: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem;
    margin-bottom: 4rem;
}

.app_title h1{
    font-size: 3em;
    margin-bottom: 0.25rem;
}

.app_title .underline{
    width: 150px;
    height: 5px;
    background-color: var(--hi_light);
}

.app_container{
    position: relative;
    visibility: hidden;
    width: 90vw;
    height: 700px;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: var(--light_shadow);
    overflow: hidden;
}

.reviews_cont{
    position: relative;
    width: 60vw;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.next,
.previous{
    opacity:0;
}
.review_item{
    position: absolute;
    width: 60vw;
    height: 600px;
    margin: 0;
    padding: 1rem 0;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.review_img_cont{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.review_img_cont::before{
    content: "";
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    background: var(--hi_light);
    transform: translate(10px,-10px);
}
.review_img_cont img{
    position: absolute;
    z-index: 1;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.svg_container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 25px;
    background: var(--hi_light);
    top: 10px;
    left: 0;
}
.svg_container svg{
    width: 100%;
    height: auto;
}
.review_text_cont{
    max-width: 600px;
    text-align: center;
    padding: 1rem;
}
.user_name{
    font-size: 2em;
    margin-bottom: 1rem;
}
.review_text_cont p{
    font-weight: lighter;
    font-size: 1.5em;
    color: #445;
}

.btn{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--hi_light);
    font-size: 3em;
    transition: 0.25s all;
}
.btn:hover{
    cursor: pointer;
    color: var(--hov_color);
}

.arrow_btn{
    position: absolute;
    z-index: 10;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
}
.arrow_btn:nth-of-type(1){
    left: 0;
}
.arrow_btn:nth-of-type(2){
    right: 0;
}


@media( max-width: 500px ){
    .app_container{
        width: 96vw;
        margin: 0 auto;
        padding: 1rem 0;
        max-width: 480px;
    }
    .reviews_cont{
        width: 280px;
    }
    
    .review_item{
        position: absolute;
        width: 100%;
    }
    .btn{
        padding: 0;
        margin: 0;
    }
}

@media( max-width: 300px ){
    .app_container{
        width: 100%;
        margin: 0 auto;
        padding: 1rem 0;
        max-width: 280px;
    }
    .reviews_cont{
        width: 100%;
    }
    
    .review_item{
        position: absolute;
        width: 100%;
    }
    .btn{
        position: absolute;
        padding: 0;
        margin: 0;
    }
    .btn:nth-of-type(1){
        top: 90%;
        left: 0;
        z-index: 11;
    }
    .btn:nth-of-type(2){
        top: 90%;
        right: 0;
        z-index: 11;
    }
}