:root{
    --hi_light: #ef2424;
    --opp_light: #f44;
    --hov_color: rgb(255,200,0);
    --low_light: #0073e5;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 110vh;
    padding: 5rem 0 0 0;
    margin: 0;
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
}
.app_title h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
}
.underline{
    height: 5px;
    width: 150px;
    background-color: var(--hi_light);
}

.app_container{
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
    display: grid;
    justify-content: center;
    transition: 1s all;
}

.category_list{
    padding: 0rem 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.category_item{
    text-transform: capitalize;
    font-weight: bold;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--hi_light);
    transition: all 0.25s;
}
.category_item:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--hov_color);
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.menu_item{
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 3rem 1rem;
}
.menu_item img{
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 200px;
    border-radius: 2px;
    border: 5px solid var(--hi_light);
    margin-right: 0.5rem;
}
.menu_item_text_cont{
    width: 300px;
    text-align: left; 
    padding: 1rem;  
}
.menu_item_header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgb(100,100,100);
}
.menu_item_name,
.menu_item_price{
    max-width: 180px;
    margin: 0 0 .5rem 0;
}
.menu_item_price{
    opacity: 0.8;
    color: var(--hi_light);
}
.question_header button{
    outline: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(230,230,230);
    border: none;
    transition: 0.5s all;
}
.question_header button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(200,200,200);
    box-shadow: var(--light_shadow);
}
.fa-plus{ color: var(--hi_light) }
.fa-minus{ color: var(--opp_light) }

.question_item p{
    text-align: justify;
}
@media( min-width: 1316px ){
    .app_container{
        padding: 0;
    }
    .category_list{
        padding: 0;
    }
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media( max-width: 500px ){
    .app_container{
        padding: 0;
    }
    .category_list{
        padding: 0;
    }
    .menu{
        grid-template-columns: 1fr;
    }
    .menu_item{
        max-width: 300px;
        padding: 0;
        margin: 1rem 0rem;
    }
    .menu_item img{
        margin-right: 0rem;
    }
    .menu_item_text_cont{
        margin: 1rem 0; 
        padding: 0rem 1rem;  
    }
}
/*Galaxy Fold... */
@media( max-width: 300px ){
    .app_container{
        padding: 0;
    }
    .category_list{
        padding: 0;
    }
    .category_item{
        margin: 0.5rem;
    }
    .menu_item{
        max-width: 276px;
        padding: 0;
        margin: 1rem 0rem;
    }
    .menu_item img{
        width: 276px;
        margin-right: 0rem;
    }
    .menu_item_text_cont{
        max-width: 276px;
        margin: 1rem 0; 
        padding: 0rem 1rem;  
    }
}

/* @media( min-width: 900px ){
    .app_container{
        max-width: 800px;
        grid-template-columns: 300px 500px;
        align-items: flex-start;
    }
    .app_title h1{
        text-align: left;
        font-size: 2em;
        margin: 1rem 0;
    }
    
} */