/* HEADER */
.site_header{
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s height;
}
.site_header_container{
    position: relative;
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
}
.site_header_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_container{
    display: flex;
    align-items: center;
    width: 80px;
    height: 50px;
}
.logo_container img{
    width: 100%;
    height: auto;
}
.site_header_nav{
    display: none;
}
.site_header_nav_list{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.site_header_nav_item_link{
    text-transform: capitalize;
    background: none;
    border: none;
    color: var(--link);
    display: block;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.25em;
    text-decoration: none;
    transition: 0.25s color;
}
.site_header_nav_item_link:hover{
    color: var(--hi_light);
}
.site_header_cta_nav{
    display: none;
}
/* .site_mobile_menu_container{
    
} */
.site_submenu_container{
    position: absolute;
    width: 100%;
    height: 1000px;
    z-index: 1;
    left: 0;
}


.site_submenu_card_container{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    border-radius: 3rem;    
    transform-origin: top center;
    opacity: 1;
    transition: 0.25s width, 0.25s opacity, 0.25s left, 0.25s top, 0.25s transform;
}
.site_submenu_card_icon{
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: translateX(-50%);
    fill: var(--nav_bar_bg_2);
    transition: 0.25s left, 0.25s top;
}
.site_submenu_card_section_container{
    /* width: 0;
    height: 0;
    overflow: hidden; */
    transition: 0.25s width, 0.25s height;
}
.site_submenu_card_section{
    background:var(--nav_bar_bg_2);
    transform: translateY(-2rem);
    max-width: 800px;
    border-radius: 3rem;
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: var( --dark_shadow);
    overflow: hidden;
    transition: 0.25s width, 0.25s height;
}
.site_submenu_card_section_heading{
    display: block;
    margin: 0 1.5rem;
    font-size: 2em;
    text-transform: capitalize;
    text-align: left;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid white;
}
.site_submenu_card_section_pages_list{
    width: 100%;
    display: grid;
    list-style: none;
    padding: 0;
    grid-template-columns: repeat(auto-fit, 200px);
}
.site_submenu_card_section_item{
    max-width: 200px;
    margin: 0.5rem;
    font-size: 1.15rem;
    align-items: center;
}
.site_submenu_card_section_item_link{
    display: flex;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.25em;
    text-decoration: none;
}
.site_submenu_card_section_item_link:hover{
    background: var(--hov_bg);
}
.site_submenu_card_section_item_link_icon{
    margin-right: 0.5rem;
}



/* HAMBURGER MENU BUTTONS */
.menu_btn{
    width: 40px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
.menu_btn:hover{
    cursor: pointer;
}
.menu_btn:hover .btn_bar{
    background: var(--hi_light);
}
.menu_btn .btn_bar{
    width: 33px;
    height: 4px;
    margin: 2.5px 0;
    border-radius: 3px;
    background: white;
    transform-origin: center;
    transition: 0.5s all;
}





/* Mobile Menu */
.hide_mobile_menu{
    left: 100% !important;
}
.site_mobile_menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    transform: translateX(0%) !important;
    background: var(--nav_bar_bg);
    box-shadow: var(--light_shadow);
    transition: 0.5s left;
    overflow: hidden;
}
.site_mobile_menu_header{
    display: flex;
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}
.site_mobile_menu_header .menu_btn .btn_bar:nth-of-type(1){
    transform: translateY(9px) rotate(-45deg);
}
.site_mobile_menu_header .menu_btn .btn_bar:nth-of-type(2){
    opacity: 0;
    transform: rotate(45deg);
}
.site_mobile_menu_header .menu_btn .btn_bar:nth-of-type(3){
    transform: translateY(-9px) rotate(45deg);
}
.site_mobile_menu_sections_container{
  padding: 0 1rem;
}
.site_mobile_menu_sections_list{
    list-style: none;
    padding: 0;
}
.site_mobile_menu_section{
    margin: 1rem 0;
    padding: 1rem;
}
.site_mobile_menu_section_heading{
    font-size: 2em;
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 0.5rem;
}
.site_mobile_menu_section_pages_list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.site_mobile_menu_section_item{
    display: grid;
    margin: 0.5rem;
    font-size: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
}
.site_mobile_menu_section_item_link{
    display: flex;
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.25em;
    text-decoration: none;
}
.site_mobile_menu_section_item_link:hover{
    background: var(--hov_bg);
}
.site_mobile_menu_section_item_link_icon{
    margin-right: 0.5rem;
}
/* .site_mobile_menu_section_item_link_label{

} */




/* Full Width Size*/
@media( min-width: 900px ){

    /* HEADER */
    .site_header_nav{
        display: block;
    }
    .site_header_cta_nav{
        display: block;
    }
    .site_header_menu_nav{
        display: none;
    }
    .site_mobile_menu_container{
        display: none;
    }
    .hide_site_submenu_card_container{
        opacity: 0;
        transform: rotateX(-15deg);
    }
}
