:root{
    --hi_light: #ff9100;
    --text_color: #f1f5f8;
    --link: #f1f5f8;
    --btn_bg: rgb(50, 50, 50);
    --btn_bg_hov: rgb(100, 100, 100);
    --hov_bg: #ff920402;
    --hov_bg_strong: #ff92044f;
    --link_hov: var(--hi_light);
    --nav_bar_bg: rgb(30,30,30);
    --nav_bar_bg_2: rgb(20,20,20);
    --body_bg: rgb(50,50,50);
    --low_light: #f6fffb;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1); 
}
*{ box-sizing: border-box; }
html{ margin: 0; padding: 0; }
body{
    width: 100%;
    min-height: 110vh;
    padding: 0;
    margin: 0;
    color: var(--text_color);
    background-color: var(--body_bg);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
a{ color: var(--link); }
a:hover{ cursor: pointer; color: var(--link_hov); }






/* MODAL */
.modal_section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_btn{
    color: var(--text_color);
    padding: 0.5rem 1rem;
    background: var(--btn_bg);
    border: solid 2px var(--hi_light);
    border-radius: 0.5rem;
    box-shadow: var(--light_shadow);
    transition: background 0.25s;
}
.modal_btn:hover{
    cursor: pointer;
    background: var(--hov_bg_strong);
}
.modal{
    height: 0;
    width: 0;
    opacity: 0;
    transition: 0.25s height, 0.25s width;
}
.show_modal{
    width: 300px;
    height: 200px;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    background: var(--nav_bar_bg);
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: 0.25s height, 0.25s width;
}  
.modal_cont{
    width: 100%;
}
.modal_header{
    display: flex;
    margin: 0;
    padding: 0.5rem 0.25rem;
    justify-content: flex-end;
} 
.modal .menu_btn .btn_bar:nth-of-type(1){
    transform: translateY(9px) rotate(-45deg);
}
.modal .menu_btn .btn_bar:nth-of-type(2){
    opacity: 0;
    transform: rotate(45deg);
}
.modal .menu_btn .btn_bar:nth-of-type(3){
    transform: translateY(-9px) rotate(45deg);
}




/* Full Width Size*/
@media( min-width: 900px ){

}
