/*Contact section*/
.contact-split-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.contact-link-container{
    width: 300px;
    height: 300px;
    margin: 10px;
    color:rgb(255,255,255);
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    
}
.contact-link{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    font-size: 3em;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.j8ahmed .contact-link{ background: rgb(255,255,255); color: rgb(0,175,175); }
.linkedin .contact-link{ background: rgb(0,119,181); color: white; }
.codepen .contact-link{ background: rgb(0,0,0); color: white; }
.twitter .contact-link{ background: rgb(0,172,238); color: white; }
.instagram .contact-link{ background: linear-gradient(45deg, rgb(254,218,117), rgb(250,126,30), rgb(214,41,118), rgb(150,47,191), rgb(79,91,213) ); color: white; }
.github .contact-link{ background: rgb(51,51,51); color: white; }
.youtube .contact-link{ background: rgb(255,0,0); color: white; }
.freecodecamp .contact-link{ background: darkgreen; color: white; }
.hackerrank .contact-link{ background: #1ba94c; color: white; }

.contact-link:hover{ font-size: 2em; padding-top: 5px; }

.contact-link-container a{
    width: 100px;
    height: 100px;
    color: rgb(255,255,255);
}
.social-media{
    padding: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.twitter-j8{
    width: 300px;
    justify-content: center;
}
.follow-button{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}