.site_footer{

}
.site_footer_container{
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 1rem;
    max-width: var(--max_width);
}
.site_footer_navbar{

}
.footer_navbar_social_links_container{

}
.footer_navbar_social_links_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.footer_navbar_social_link_item{
    padding: 0.5rem 0.25rem;
    margin: 0 0.5rem;
}
.footer_navbar_social_link{
    font-size: 1.25em;
}
.footer_copyright{
    margin-top: 2rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: left;
}