.site_header{
    position: absolute;
    width: 100%;
    margin-bottom: 5rem;
    overflow-x: hidden;
}
.site_header_navbar_container{
    max-width: 1000px;
    margin: 0 auto;
}
.site_header_navbar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site_header_navbar_logo_container{
    
}
.site_header_navbar_logo_container h2{
    margin: 0;
}
.site_header_navbar_links_list_container{
    display: none;
}
.site_header_navbar_links_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.site_header_navbar_link_item{
    
}
.site_header_navbar_link_item a{
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.25s color;
}
.site_header_navbar_link_item a:hover{
    
}

.site_header_navbar_mobile_menu_button_container{
    
}
.site_header_navbar_mobile_menu_button,
.mobile_menu_header_mobile_menu_button{
    width: 40px;
    height: 32px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
.site_header_navbar_mobile_menu_button:hover,
.mobile_menu_header_mobile_menu_button:hover{
    cursor: pointer;
}
.btn_bar{
    width: 33px;
    height: 4px;
    margin: 2.5px 0;
    border-radius: 3px;
    background: var(--menu_btn_bar);
    transform-origin: center;
    transition: 0.5s all;
}
.site_header_navbar_mobile_menu_button .btn_bar:nth-of-type(1){
    
}
.site_header_navbar_mobile_menu_button .btn_bar:nth-of-type(2){
    width: calc(33px * 0.7);
    justify-self: flex-end;
}
.site_header_navbar_mobile_menu_button .btn_bar:nth-of-type(3){
    width: calc(33px * 0.4);
    justify-self: flex-end;
}



/* MOBILE MENU SIDE BAR */
.hide_mobile_menu_container{
    left: 100%;
}
.show_mobile_menu_container{
    left: 0;
}
.mobile_menu_container{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: var(--menu_bg);
    box-shadow: var(--shadow);
    transition: 0.25s left;
}
.mobile_menu{

}
.mobile_menu_header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.mobile_menu_header_mobile_menu_button_container{

}
.mobile_menu_header_mobile_menu_button{

}
.close_btn_bar:nth-of-type(1){
    transform: translateY(10px) rotate(-45deg);
}
.close_btn_bar:nth-of-type(2){
    opacity: 0;
    transform: rotate(-45deg);
}
.close_btn_bar:nth-of-type(3){
    transform: translateY(-10px) rotate(45deg);
}

.mobile_menu_links_list_container{

}
.mobile_menu_links_list{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
.mobile_menu_link_item{
    
}
.mobile_menu_link_item a{
    font-size: 1.25em;
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}
.mobile_menu_link_item a:hover{
    background: var(--accent);
}

/*****************************************************/


@media( min-width: 800px ){
    .site_header{
        position: relative;
        width: 100%;
        height: auto;
    }
    .site_header_navbar_mobile_menu_button_container{
        display: none;
    }
    .site_header_navbar_links_list_container{
        display: block;
    }


    /* MOBILE MENU */

    .mobile_menu_container{
        left: 100%;
        display: none;
    }
    /* *********** */
}