:root{
    --primary:rgb(38, 109, 211);
    --secondary: rgb(72, 169, 166);
    --tertiary: rgb(228, 223, 218);
    --quaternary: rgb(242, 232, 99);
    --quinary: rgb(251, 34, 44);
    --text:rgb(50,50,50);
    --accent:rgb(228, 223, 218);
    --link: var(--tertiary);
    --link_hover: black;
    --link_hover_bg:;
    --menu_btn_bar: white;
    --menu_bg: var(--secondary);
    --shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    --max_width: 1000px;
    --desktop_min_width: 800px;
}
*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
    color: var(--link);
    transition: 0.25s color;
}
a:hover{
    color: var(--link_hover);
}
button:hover{
    cursor: pointer;
}
html{
    padding: 0;
    margin: 0;

}
body{
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%;
    background: linear-gradient(45deg, var(--primary), var(--secondary), var(--primary));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
#root{
    width: 100%;
}
.site_content_container{
    visibility: hidden;
    margin: 0 auto;
    margin-top:100px;
    min-height: 75vh;
    max-width: var(--max_width)
}




/* ANIMATIONS */ 
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}