.site_header{
    background-color: var(--bg);
}
.site_header_navbar_container{
    margin: 0 auto;
    padding: 1rem 0.5rem;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site_header_logo_container{

}
.site_header_logo_title{
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
        
.site_header_page_links_container{

}
.site_header_page_links_list{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site_header_page_link{
    margin: 1rem;
}
.site_header_page_link:last-of-type{
    margin-right: 0;
}
.site_header_page_link a{
    padding: 0.5rem 0;
    text-decoration: none;
    transition: 0.25s border, 0.5s color;
}
.site_header_page_link a:hover{
    border-bottom: 2px solid var(--alt-light);
}

@media( max-width: 320px){

    
    .site_header_logo_title{
        font-size: 1em;
    }

      
}