/* SEARCH BAR */
.search_bar_container{
    padding: 1rem 0;
    width: 100%;
}
.search_bar_form{
    width: 100%;
}
.search_bar_form_elem_container{
    display: grid;
    grid-gap: 0.5rem;
    /* justify-content: le; */
    width: 100%;
}
.search_label{
    font-weight: bold;
    margin-left: 0.5rem;
    justify-self: flex-start;
    text-align: left;
}
.search_bar_input{
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}


/* PRODUCTS LIST */
.products_list_container{
    margin: 4rem 0 0 0;
}
.product_list{
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
}


/* PRODUCT CARDS */
.product_item{
    width: 300px;
    visibility: hidden;
    /* background: var(--bg); */
}
.product_img_container{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--hi-light);
    box-shadow: var(--box-shadow);
}
.product_img_container:hover img{
    transform: scale(1.1);
}
.product_img_container img{
    width: 100%;
    height: auto;
    transition: 0.5s transform;
}
.product_info_container{
    padding: 0.5rem 0 0 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.product_card_header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.product_name_and_category_container{

}
.product_card_name{
    margin: 0;
    font-size: 1em;
}
.product_card_category{
    margin-top: 0;
    font-size: 1em;
    color: var(--color-light);
}
.product_card_price{
    margin-top: 0;
    color: var(--alt-light);
}

.product_card_name{
    margin-top: 0;
}
.product_card_category{

}
.product_page_link{
    margin: 0;
}
.product_page_link a{
    margin: 0;
    padding: 1rem 0 0 0;
    display: block;
    text-decoration: none;
}

@media( max-width: 700px){
    .product_list{
        padding: 0;
        list-style: none;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        justify-content: center;
        justify-items: center;
    }
    .product_item{
        width: 100%;
        max-width: 450px;
    }
    .product_img_container{
        width: 100%;
        height: auto;
        max-width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: var(--hi-light);
        box-shadow: var(--box-shadow);
    }   
}