:root{
    --hi-light: rgb(50, 100, 200);
    --alt-light: rgb(200, 100, 50);
    --color-light: rgb(100,100,100);
    --bg: rgb(240,240,240);
    --box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
    --max-width: 1000px;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    min-height: 101vh;
}
a{
    color: var(--hi-light);
    transition: 0.5s color;
}
a:hover{
    color: var(--alt-light);
}

.site_page_container{
    visibility: hidden;
    padding: 4rem 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
}

.home_button{
    border: none;
    border-radius: 1rem;
}
.home_button a{
    padding: 1rem;
    display: block;
    font-size: 1.5em;
    text-decoration: none;
}
.home_button a:hover{
    color: var(--hi-light);
    transition: 0.25s color;
}