:root{
    --hi_light: #ef2424;
    --hi_light_bg: rgb(255,200,200);
    --opp_light: #f44;
    --hov_color: rgb(255,200,0);
    --low_light: #0073e5;
    --dull_white: #f1f5f8;
    --dark_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 110vh;
    padding: 3rem 0 0 0;
    margin: 0;
    background-color: #eee;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}
a{
    color: var(--hi_light);
}
a:hover{
    color: var(--hov_color);
}

.app_title{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    padding: 0 1rem;
    margin: 1rem 0;
    margin-top: 3rem;
    margin-bottom: 4rem;
    visibility: hidden;
}
.app_title h1{
    text-align: center;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
.underline{
    height: 50px;
    width: 5px;
    margin-right: 1rem;
    background-color: var(--hi_light);
}
/* .app_container{
    width: 1000px;
} */
form{
    margin: 1rem;
}
.form_item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    visibility: hidden;
}
.input_label{
    font-size: 2em;
    margin: 1rem 1rem 1rem 0;
}  
.amount_input{
    font-size: 1.5em;
    padding: 1rem;
    border: none;
    transition: 0.25s border;
}
.error_input,
.error_input:focus,
.error_input:active{
    border: 2px solid red;
}

.submit_btn{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background-color: var(--hi_light);
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    transition: 0.25s background-color, 0.25s color;
}
.submit_btn:hover{
    cursor: pointer;
    color: black;
    background-color: var(--hov_color);
}
.value_cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
}
.color_item{
    width: 200px;
    height: 150px;
    text-align: left;
    padding: 1rem 0.5rem;
    visibility: hidden;
}
.color_item:hover{
    cursor: pointer;
}
.text_light{
    color: var(--dull_white);
}
.percent_val,
.hex_val{
    margin: 0.25rem 0;
}
.color_item p{
    font-family: monospace;
    text-transform: uppercase;
}


@media( max-width: 300px ){

    .app_title h1{
        text-align: left;
    }
    .underline{
        height: 100px;       
    } 
    .amount_input{
        width: 250px;
    }
    .submit_btn{
        width: 100%;
        border: none;
        border-radius: 0.5rem;
    }
}
