:root{
    --hi_light: #0084f6;
    --low_light: #0073e5;
    --light_shadow: 0 5px 15px 0px rgba(0,0,0,0.2);
}
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    padding: 5rem 0 0 0;
    margin: 0;
    background-size: cover;
    background: linear-gradient(-45deg, #cce7ff, #fffff5, #cce7ff);
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app_container{
    margin: auto;
    background-color: #fff;
    box-shadow: var(--light_shadow);
    border-radius: 1rem;
    padding: 1rem;
    transition: 1s all;
    overflow: hidden;
    display: grid;
    align-content: space-between;
}
.app_title{
    font-weight: lighter;
    text-align: left;
    padding: 0 1rem;
}

.birthday_list{
    margin: 0;
    padding: 0;
    text-align: center;
}
.birthday_item{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5rem;
    margin: 1rem 0;
}
.profile_pic_cont{
    width: 60px;
    height: 60px;
    background: var(--hi_light);
    border-radius: 30px;
    margin-right: 0.5rem;
}
.profile_text_cont{
    text-align: left;
}
.profile_text_cont h4,
.profile_text_cont p{
    margin: 0.5rem;
}
.profile_text_cont p{
    font-weight: lighter;
    font-style: italic;
    color: #444;
}
.clear_btn{
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 1.5em;
    border-radius: .5rem;
    color: #fff;
    background-color: var(--hi_light);
    transition: .5s all;
}

.clear_btn:hover{
    cursor: pointer;
    background-color: var(--low_light);   
    box-shadow: inset 1px 1px 5px 5px rgba(0,0,0,0.1);
}