/* VARIABLES & GLOBAL */
:root{
    --bg-theme: rgb(0,50,100);
    --bg-light: rgb(0,100,200);
}
body{
    visibility: hidden;
    min-height: 110vh;
}
button:hover{
    cursor: pointer;
}


/* HEADER */
.app_header{
    margin: 0;
    color: white;
    background: var(--bg-theme);
}
.app_header_container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
.header_title{
    margin: 0;
    text-align: left;
}
.header_shopping_cart{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_size{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background: var(--bg-light);
    border-radius: 100%;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-shopping-cart{
    position: absolute;
    z-index: 2;
}


/* CART */
.cart_container{
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}
.cart_header{
    color: var(--bg-theme);
    text-transform: uppercase;
}
.cart_items_container{

}
.cart_items_list{
    overflow: hidden;
    padding: 0;
    list-style: none;
}
.cart_footer_container{
    padding: 0.5rem 0;
   
    border-top: 2px solid var(--bg-light);
}
.cart_total{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 1rem;
}
.cart_total h3{
    margin: 0;
    padding: 0 1rem;
}
.cart_clear_items_btn{
    padding: 0.5rem 1rem;
    background: none;
    color: red;
    font-weight: bold;
    border: 1px solid red;
    border-radius: 0.5rem;
}



/* CART ITEM */
.cart_item{
    margin: 0.5rem 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: space-between;
    align-items: center;
}
.cart_item_info_container{
    display: flex;
    align-items: flex-start;
    justify-self: left;
    margin: 0;
}
.cart_item_img_container{
    width: 100px;
    height: 100px;
    margin-right: 0.5rem;
    background: var(--bg-light);
}
.cart_item_img_container img{
    width: 100%;
    height: auto;
}
.cart_item_text_container{
    text-align: left;
}
.cart_item_text_container h3,
.cart_item_text_container h4{
    margin: 0;
    margin-bottom: 0.5rem;
}
.cart_item_text_container h4{
    color: var(--bg-light);
}
.cart_item_text_container h4,
.cart_item_remove_btn{
    padding-left: 0.5rem;
}
.cart_item_remove_btn{
    background: none;
    border: none;
    color: var(--bg-theme);
}
.cart_item_quantity_tool{
    justify-self: flex-end;
}
.cart_item_quantity_tool h3{
    margin: 0.5rem;
}
.cart_item_quantity_btn{
    font-size: 1.2em;
    background: none;
    border: none;
    color: var(--bg-theme);
}
.cart_item_quantity_btn:hover{
    color: var(--bg-light);
    transform: scale(1.1)
}



/* MEDIA QUERIES  */
@media( max-width: 400px ){
    .cart_item{
        padding: 1rem 0;
    }
}